:root {
  --color-main-red: #ff3839;
  --color-black-202020: #202020;
  --color-gray-background: #f8f8f8;
  --color-light-red: #333335;
  --color-light-black: #696969;
  --main-color-white: #ffffff;
}
body {
  font-family: Poppins, sans-serif;
  background-color: var(--main-color-white);
  color: var(--color-black-202020);
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
button {
  font-family: inherit;
  cursor: pointer;
}
